/*Reset global*/
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    text-wrap: pretty;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*Dark mode for user's system*/
@media (prefers-color-scheme: dark) {
    :root {
        --background-color-primary: #18181B;
        --background-color-secondary: #0e0e11;
        --background-color-tertiary: #ffffff;

        --text-color-primary: #ededf1;
        --text-color-secondary: #c1c2cf;
        --text-color-tertiary: #000000;

        --pallete-primary: #00c3ff;
        --pallete-secondary: #b6ecff;
        --background-pallete: #04354d;
    }
}

/*Variables*/
:root {
    /*CAMBIAR PARA LIGHT MODE*/
    --background-color-primary: #18181B;
    --background-color-secondary: #0e0e11;
    --background-color-tertiary: #ffffff;

    --text-color-primary: #ededf1;
    --text-color-secondary: #c1c2cf;
    --text-color-tertiary: #000000;

    --pallete-primary: #00c3ff;
    --pallete-secondary: #b6ecff;
    --background-pallete: #04354d;

    --font-size-1: 2.5rem;
    --font-size-2: 2rem;
    --font-size-3: 1.75rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1rem;

    --font-weight-mx: 900;
    --font-weight-md: 600;
    --font-weight-sm: 500;

    --radius: 0.5rem;
}

/*Para modo oscuro*/
.dark {
    --background-color-primary: #18181B;
    --background-color-secondary: #0e0e11;
    --background-color-tertiary: #ffffff;

    --text-color-primary: #ededf1;
    --text-color-secondary: #c1c2cf;
    --text-color-tertiary: #000000;

    --pallete-primary: #00c3ff;
    --pallete-secondary: #b6ecff;
    --background-pallete: #04354d;
}

html {
    scrollbar-color: var(--text-color-secondary) var(--background-color-primary);
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);

    /*MEJORAR PROPIEDADES DE TEXTO GENERAL*/
    text-align: pretty;
}
/*
hr {
    margin-block: 1.5rem;
    border: none;
    height: 1px;
    background-color: var(--text-color-secondary);
    opacity: 0.5;
}
*/
span {
    color: var(--pallete-primary);
}

strong {
    font-weight: var(--font-weight-sm);
    color: var(--text-color-primary);
}

h1 {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-mx);
}
h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-md);
}
h3 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-sm);
}
h4 {
    font-size: var(--font-size-4);
}
h5 {
    font-size: var(--font-size-5);
}
h6 {
    font-size: var(--font-size-6);
}

p {
    margin-block: 0.75rem;

    font-size: var(--font-size-6);
    color: var(--text-color-secondary);
}

code {
    margin-block: 0.5rem;
    padding: 0.5rem;

    background-color: var(--background-color-secondary);
    color: var(--pallete-primary);
    font-size: var(--font-size-6);
    border-radius: var(--radius);
}

a {
    text-decoration: none;
    max-width: fit-content;

    color: var(--pallete-primary);
}
a:hover {
    text-decoration: underline;
}

button {
    border-style: none;
    letter-spacing: 1px;

    margin: 0.25rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    cursor: pointer;

    background-color: var(--text-color-primary);
    color: var(--text-color-tertiary);
    border-radius: var(--radius);
    font-weight: var(--font-weight-md);
}

ul {
    list-style: disc;
    list-style-position: outside;
}
ol {
    list-style: decimal;
    list-style-position: outside;
    margin: 1em 0;
}
li {
    margin-inline: 1.25rem;
    font-size: var(--font-size-6);
}
li::marker {
    color: var(--pallete-primary);
}

form {
    display: flex;
    flex-direction: column;
}
textarea {
    min-height: 5.5rem;
    max-height: 12rem;
    height: auto;
}
input, textarea {
    margin-inline-end: 0.75rem;
    margin-block-end: 0.75rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    
    border-style: none;

    background-color: var(--background-color-secondary);
    color: var(--text-color-secondary);
    font-size: var(--font-size-6);
    border-radius: var(--radius);
}
input:focus {
    outline: 1px solid var(--pallete-primary);
}
input:disabled{
    opacity: 0.7;
}
input:disabled:hover{
    cursor: not-allowed;
}
textarea:focus {
    outline: 1px solid var(--pallete-primary);
}
label {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;

    font-size: var(--font-size-6);
}

blockquote {
    margin-block: 1rem;
    padding-block: 1rem;
    margin-inline: 0;
    padding-inline: 1rem;

    background-color: var(--background-pallete);
    border-left: 4px solid var(--pallete-secondary);
    border-radius: 0px var(--radius) var(--radius) 0px;
    color: var(--pallete-secondary);

    font-size: var(--font-size-6);
    font-style: italic;
}