/*Reset global*/
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    letter-spacing: 1px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*Dark mode for user's system*/
@media (prefers-color-scheme: dark) {
    :root {
        --color-01: #161717;
        --color-02: #ffffff;
        --color-03: #cecece;
        --color-04: #2e2f2f;
        --color-05: #95db5c;
    }
}

/*Variables*/
:root {
    --color-01: #FCF5EB;
    --color-02: #161717;
    --color-03: #404756;
    --color-04: #cfcfcf;
    --color-05: #618b3d;

    --font-size-1: 2.5rem;
    --font-size-2: 2rem;
    --font-size-3: 1.75rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1rem;

    --font-weight: 700;

    --radius: 0.25rem;
}

/*Para modo oscuro*/
.dark { /*ESTO NO VA EN CSS*/
    --color-01: #161717;
    --color-02: #ffffff;
    --color-03: #cecece;
    --color-04: #2e2f2f;
    --color-05: #95db5c;
}

body {
    background-color: var(--color-01);
    color: var(--color-02);

    /*MEJORAR PROPIEDADES DE TEXTO GENERAL*/
}

span {
    color: var(--color-05);
}

strong {
    font-weight: var(--font-weight);
}

h1, h2, h3, h4, h5, h6 {
    margin-block: 0.25rem;
}

h1 {
    font-size: var(--font-size-1);
}
h2 {
    font-size: var(--font-size-2);
}
h3 {
    font-size: var(--font-size-3);
}
h4 {
    font-size: var(--font-size-4);
}
h5 {
    font-size: var(--font-size-5);
}
h6 {
    font-size: var(--font-size-6);
}

p {
    margin-block: 0.75rem;

    font-size: var(--font-size-6);
    color: var(--color-03);
}

code {
    margin-block: 0.5rem;
    padding: 0.5rem;

    background-color: var(--color-04);
    font-size: var(--font-size-6);
    border-radius: var(--radius);
}

a {
    text-decoration: none;
    max-width: fit-content;

    color: var(--color-05);
}
a:hover {
    text-decoration: underline;
}

button {
    border-style: none;
    letter-spacing: 1px;

    margin: 0.25rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    cursor: pointer;

    background-color: var(--color-02);
    color: var(--color-01);
    border-radius: var(--radius);
    font-weight: var(--font-weight-mid);

}
button:active {
    transform: none;
}

ul{
    list-style: disc;
    list-style-position: outside;
    padding-left: 30px;
}
ol {
    list-style: decimal;
    list-style-position: outside;
    padding-left: 30px;
    margin: 1em 0;
}
li {
    margin-inline: 1.25rem;
    font-size: var(--font-size-6);
    
}
li::marker {
    color: var(--color-05);
}

form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    margin-inline-end: 0.75rem;
    margin-block-end: 0.75rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    
    border-style: none;

    background-color: var(--color-04);
    color: var(--color-03);
    font-size: var(--font-size-6);
    border-radius: var(--radius);
}
input:focus {
    outline: 1px solid var(--color-05);
}
textarea:focus {
    outline: 1px solid var(--color-05);
}
label {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}