@import "tailwindcss";

:root {
    --radius-border: 20px;

    --text-color-primary: #c1c2cf;
    --text-color-secondary: #ffffff;

    --background: #040608;

    --palette-primary: #c1f5ff;
    --palette-secondary: #30444d;
    --palette-tertiary: #ffd6be;
}

html {
    scrollbar-color: var(--palette-secondary) var(--background);
}

body {
    font-family: monospace;
    text-wrap: pretty;
    line-height: 1.5;

    font-size: var(--font-sm);

    color: var(--text-color-primary);
    background-color: var(--background);
}

h1 {
    font-weight: 600;
}
h1, h2 {
    line-height: 1.2;
    color: var(--text-color-secondary);
}

strong {
    font-weight: normal;
}

span {
    color: var(--palette-primary);
}

code {
    border-radius: var(--radius-border);
    color: var(--palette-primary);
    background-color: var(--palette-secondary);
}

a {
    color: var(--palette-primary);
}
a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;

    width: fit-content;
    
    border-radius: var(--radius-border);

    color: var(--text-color-secondary);
    background-color: var(--palette-secondary);
}

pre {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    border-radius: var(--radius-border);

    color: var(--palette-tertiary);
    background-color: var(--background);
}

iframe {
    height: 70vh;
    width: 90vw;
    border-radius: var(--radius-border);
}

.preview {
    border-radius: var(--radius-border);
    background-color: var(--palette-secondary);
}

@media(max-width: 500px) {
    iframe, pre {
        width: 90vw;
    }

    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.2rem;
    }

    code {
        font-size: 0.75rem;
    }
}

@media(min-width: 500px) {
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 1.75rem;
    }

    body {
        font-size: 1.2rem;
    }

    
    code {
        font-size: 1rem;
    }
}

@media(min-width: 1280px) {
    iframe {
        width: 60vw;
    }

    pre {
        margin-inline: 5px;
    }
}