/*Reset global*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*By default*/
html, body {
    height: 100%;
}
body {
    font-family: 'system-ui', sans-serif;

    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;

    text-wrap: pretty;
    line-height: 1.5;
    letter-spacing: 0.25px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*Dark mode for user's system*/
@media (prefers-color-scheme: dark) {
    :root {
        --background-color-primary: #18181B;
        --background-color-secondary: #0e0e11;
        --background-color-tertiary: #ffffff;

        --text-color-primary: #ededf1;
        --text-color-secondary: #c1c2cf;
        --text-color-tertiary: #000000;

        --pallette-primary: #00c3ff;
        --pallette-secondary: #b6ecff;
        --background-pallette: #04354d;
    }
}

/*Variables*/
:root {
    /*CAMBIAR PARA LIGHT MODE*/
    --background-color-primary: #0e0e11;
    --background-color-secondary: #0e0e11;
    --background-color-tertiary: #ffffff;

    --text-color-primary: #ededf1;
    --text-color-secondary: #c1c2cf;
    --text-color-tertiary: #000000;

    --pallette-primary: #00c3ff;
    --pallette-secondary: #b6ecff;
    --background-pallette: #04354d;

    --font-size-1: 2.5rem;
    --font-size-2: 2rem;
    --font-size-3: 1.75rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1rem;

    --font-weight-mx: 900;
    --font-weight-md: 600;
    --font-weight-sm: 500;

    --radius: 0.5rem;
    --gap: 1rem;
}

/*Dark mode*/
.dark {
    --background-color-primary: #0e0e11;
    --background-color-secondary: #0e0e11;
    --background-color-tertiary: #ffffff;

    --text-color-primary: #ededf1;
    --text-color-secondary: #c1c2cf;
    --text-color-tertiary: #000000;

    --pallette-primary: #00c3ff;
    --pallette-secondary: #b6ecff;
    --background-pallette: #04354d;
}

/*Template*/

.button-primary {
    border-style: none;

    margin: 0.25rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    cursor: pointer;

    background-color: var(--pallette-primary);
    color: var(--text-color-tertiary);
    border-radius: var(--radius);
    font-weight: var(--font-weight-md);
}

.button-secondary {
    border-style: none;
    background-color: transparent;
    color: var(--text-color-primary);
    font-weight: var(--font-weight-md);
}

/*Flex Classes*/
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: start;
}
.items-end {
    align-items: end;
}
.gap { 
    gap: var(--gap);
}

html {
    scrollbar-color: var(--text-color-secondary) var(--background-color-primary);
}

body {
    font-size: var(--font-size-5);
    
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
}

/*TEXT ELEMENTS*/
h1,h2,h3,h4,h5,h6 {
    margin-block: 0.5rem;
}

h1 {
    font-size: var(--font-size-1);
}
h2 {
    font-size: var(--font-size-2);
}
h3 {
    font-size: var(--font-size-3);
}
h4 {
    font-size: var(--font-size-4);
}
h5 {
    font-size: var(--font-size-5);
}
h6 {
    font-size: var(--font-size-6);
}

p {
    margin-block: 0.75rem;
    color: var(--text-color-secondary);
}

span {
    color: var(--pallette-primary);
    font-weight: var(--font-weight-md);
}

strong {
    font-weight: var(--font-weight-md);
    color: var(--text-color-primary);
}

q {
    font-style: italic;
}

i {
    font-weight: var(--font-weight-sm);
    font-style: italic;
}

time {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-sm);
    color: var(--text-color-secondary);
}

b {
    font-weight: var(--font-weight-mx);
}

mark {
    padding: 0 4px;
    background-color: var(--background-pallette);
    color: var(--pallette-secondary);
    border-radius: var(--radius);
}

s {
    font-size: var(--font-size-6);
    line-height: 1.5;
}

code {
    background-color: var(--background-color-secondary);
    color: var(--pallette-primary);
    font-size: var(--font-size-6);
    border-radius: var(--radius);
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    border: 1px solid #ffffff30;
}

u {
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    line-height: 1.5;
}

a {
    text-underline-offset: 3px;
    text-decoration: none;
    max-width: fit-content;
    

    color: var(--pallette-primary);
}
a:hover {
    color: var(--pallette-secondary);
}

ul {
    list-style: disc;
    list-style-position: outside;
    margin-block: 1rem;
}
ol {
    list-style: decimal;
    list-style-position: outside;
    margin-block: 1rem;
}
li {
    margin-inline: 1.25rem;
    font-size: var(--font-size-5);
    color: var(--text-color-secondary);
}
li::marker {
    color: var(--pallette-primary);
}

blockquote {
    margin-inline: 0;
    padding-inline: 1rem;

    border-left: 3px solid var(--pallette-primary);

    color: var(--pallette-secondary);

    font-size: var(--font-size-6);
    font-style: italic;
}

dt {
    font-weight: var(--font-weight-md);
    color: var(--text-color-primary);
}
dd {
    margin-block: 0.25rem;
    color: var(--text-color-secondary);
}

figure {
    display: flex;
    flex-flow: column;

    padding: 0.5rem;
    margin: auto;

    max-width: fit-content;
    border: thin silver solid;
    border-radius: var(--radius);
}

figcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

hr {
    margin-block: 1.5rem;
    border: none;
    height: 1px;
    background-color: var(--text-color-secondary);
    opacity: 0.2;
}

/*MULTIMEDIA*/
.img-sm {
    max-width: 220px;
    max-height: 150px;
}
.img-md {
    max-width: 440px;
    max-height: 300px;
}
.img-lg {
    max-width: 880px;
    max-height: 600px;
}
.img-radius {
    border-radius: var(--radius);
}

audio {
    width: 300px;
    border-radius: var(--radius);
}

video {
    border-radius: var(--radius);
}

iframe {
    border: none;
    border-radius: var(--radius);
}

/*TABLE ELEMENTS*/
table {
    border-spacing: 1;
    width: 100%;
    padding: 1rem;
    font-size: var(--font-size-6);
}

thead tr {
    background-color: var(--background-pallette);
    color: var(--pallette-secondary);
}

tbody tr:nth-child(odd) {
    background-color: #1b1b1b;
}

td, th {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: start;
    border-radius: var(--radius);
}




















dialog {
    background-color: var(--background-color-secondary);
    color: var(--text-color-primary);
    border: none;
    border-radius: var(--radius);
    padding: 1rem;
}
button {
    border-style: none;
    letter-spacing: 1px;

    margin: 0.25rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    cursor: pointer;

    background-color: var(--text-color-primary);
    color: var(--text-color-tertiary);
    border-radius: var(--radius);
    font-weight: var(--font-weight-md);
}

form {
    display: flex;
    flex-direction: column;
}
textarea {
    min-height: 5.5rem;
    max-height: 12rem;
    height: auto;
}
input, textarea {
    margin-inline-end: 0.75rem;
    margin-block-end: 0.75rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    
    border-style: none;

    background-color: var(--background-color-secondary);
    color: var(--text-color-secondary);
    font-size: var(--font-size-6);
    border-radius: var(--radius);
}
input:focus {
    outline: 1px solid var(--pallette-primary);
}
input:disabled{
    opacity: 0.7;
}
input:disabled:hover{
    cursor: not-allowed;
}
textarea:focus {
    outline: 1px solid var(--pallette-primary);
}
label {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;

    font-size: var(--font-size-6);
}